body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightblue;
  height: 100vh;
  margin: 0;
  font-size: 40px;
  background-image: url('./bg.gif')
}

img {
  margin: 20px;
  height: 60px;
}